@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



#Tittle {
    color: rgb(4, 118, 218);
    font-size: 70px;
}

header {

    border-style: solid;
}

p {
    font-size: 20px;
}

#BOX1 {
    position: relative;
    width: 300px;
    height: auto;
    background-color: rgb(241, 234, 220);

    box-shadow: 4px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 50px auto;
    padding: 40px;
    margin-top: 200px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: rgb(200, 195, 183);

}

#Welcome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;


}

.Email {
    display: flex;
    padding: 10px;



}

input {
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    left: 50px;
    border: 1px solid rgb(209, 209, 207);
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    background-color: rgb(235, 237, 242);

}

.password {
    margin-top: 10px;

}

#RM {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: fit-content;

}

#checkbox {
    width: auto;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}

#submit {
    background-color: black;
    color: white;
    display: flex;
    transform: translateX(5%);
    cursor: pointer;
}


a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: black;

}

input:focus {
    outline: none;
    border-color: rgb(4, 118, 218);
    background-color: white;
}

#submit:hover {
    background-color: rgb(255, 91, 31, 1);
}

#submit:active {
    transform: scale(0.98);
    cursor: pointer;
}


a:hover {
    color: rgba(255, 91, 31, 1);
    text-decoration: underline;

}

#Logo {
    margin-left: 85px;
}

#Error {
    color: red;
    font-size: 0.7em;
    margin-left: 10px;
    text-align: center;
    margin-top: -20px;
}